html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

:root {
    --rvv: calc(1rem + 1vh + 1vw);
    --square-width: calc(var(--rvv) + 50px);
}

.grid-container {
    position: absolute;
    min-height: 100vh;
    width: 100vw;
    max-width: 100vw;
    display: grid;
    grid-template-rows: calc(3*var(--rvv)) var(--square-width) 1fr;
    grid-template-columns: 1fr var(--square-width) 25%;
    grid-template-areas:
        "header header header"
        "square-x square-x square-x"
        "content square-y nav";
}

.square-x {
    grid-area: square-x;
    border: 1px solid blue;
}

.square-y {
    grid-area: square-y;
    border: 1px solid red;
}

header {
    grid-area: header;
}

.content {
    grid-area: content;
}